<h2>24 hours Forecast</h2>
<div class="forecast-list" *ngIf="!isLoading && erroMsg.length < 1">
  <div
    class="forcast-item"
    *ngFor="let dailyForecast of forecastList.list; index as i"
    (click)="checkDetailsIndex = i"
  >
    <div class="forcast-item-details" *ngIf="checkDetailsIndex === i">
      <div>{{ dailyForecast.description | uppercase }}</div>
      <div>Feels like: {{ dailyForecast.feelsLike | number: '1.0-0' }} °c</div>
      <div>Humidity: {{ dailyForecast.humidity }}</div>
      <div *ngIf="dailyForecast.rain">Chance of rain: {{ dailyForecast.rain | percent }}</div>
    </div>
    <div>
      {{ dailyForecast.date }}
    </div>
    <img src="{{ dailyForecast.icon }}" alt="weather_icon" />
    <div>{{ dailyForecast.temp | number: '1.0-0' }} °c</div>
  </div>
</div>
<div *ngIf="isLoading && erroMsg.length < 1">Please wait forecast is loading</div>
<div *ngIf="erroMsg.length > 0">{{ erroMsg }}</div>
