$weather-orange: #EB6E4B

.forecast-list
    display: inline-block
    margin: 20px 0
    cursor: pointer
.forcast-item
    display: inline-block
    border: 2px solid $weather-orange
    &-details
        background: $weather-orange
        color: white
        padding: 10px